<style>
  .container {
    padding-bottom: 40;
  }
</style>

<div class="container">
  <h1>Mortgage House - Angular Client (Test 2)</h1>

  <form #mortageForm="ngForm">
    <div class="form-group">
      <label for="ulimagePaths">Image Paths:</label>

      <ul id="ulimagePaths" required [(ngModel)]="imagePaths" name="ulimagePaths" #ulImageModel="ngModel">
        <li *ngFor="let item of ulImageModel" [value]="item">{{item}} </li>
      </ul>
    </div>

    <div style="display: inline;">
      <button id="submitBtn" type="submit" class="btn btn-success" (click)="OnBeginExtraction()">Submit</button> &nbsp;
      <button id="resetBtn" type="reset" class="btn btn-outline-secondary" (click)="OnBeginReset()">Reset</button>
    </div>
  </form>
</div>
