<style>
  .container {
    padding-bottom: 40;
  }
</style>

<div class="container">
  <h1>Mortgage House - Angular Client (Test 2)</h1>

  <form #mortageForm="ngForm">
    <div class="form-group">
      <label for="ulimagePaths">Image Paths:</label>

      <!--<ul>
    <li *ngFor="let imagePath of imagePaths">{{imagePath}} </li>
  </ul>-->

      <!--<select class="form-control" id="ulimagePaths" name="ulimagePaths">
        <option *ngFor="let item of imagePaths" [value]="item">{{item}}</option>
      </select>-->
    </div>

    <div style="display: inline;">
      <button id="submitBtn" type="submit" class="btn btn-success" (click)="OnBeginExtraction()">Submit</button> &nbsp;
      <button id="resetBtn" type="reset" class="btn btn-outline-secondary" (click)="OnBeginReset()">Reset</button>
    </div>
  </form>
</div>
